<div>
	<div layout="row" layout-padding>
		<div layout="column">
			<ul class=" footer-list">
				<li class=""><img class="logo-footer" src="../../assets/tgm_logo-FC.png" alt="TGM-Logo"/></li>
			</ul>
		</div>
		<span flex></span>
		<div layout="column" layout-padding>
			<ul class="footer-list">
				<li class="footer-link">
					<div class="fb-like" data-href="https://turtlegirlsmarket.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
				</li>
				<li class="footer-link">Contact Us</li>
				<li class="footer-link">Vendor Login</li>
			</ul>
		</div>
	</div>
</div>