<div class="footer">
	<section class="company">
		<p>
			7930 Front Beach Rd. 
			<span class="break">/</span>
			Panama City Beach, FL 32407
			<span class="break">/</span>
			<a id="store-ph" href="tel:1-850-775-4101">850.775.4101</a>
		</p>
	</section>
	<section class="copy">
		<span class="cpy">{{footer.year}} Turtle Girls Market</span>
	</section>
	<section class="site">
		<a class="web-by" href="https://themosthospitabledeveloper.com" target="_blank">Website by The Most Hospitable Developer</a>
	</section>
</div>