<div layout="row">
	<div layout-gt-sm="column"layout-padding flex>
		<img class="logo-footer" src="../../assets/tgm_logo-FC.png" alt="TGM-Logo"/>
	</div>
	<span flex-gt-sm></span>
	<ul class="footer-list" show-gt-sm hide>
		<li class="footer-link" hide show-gt-sm>
			<div class="fb-like" data-href="https://turtlegirlsmarket.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
		</li>
		<li class="footer-link">7930 Front Beach Rd.</li>
		<li class="footer-link">Panama City Beach, FL | 32407</li></li>
		<li class="footer-link">850 | 775 - 4101</li>
	</ul>
	<div hide show-sm show-xs class="md-caption">7930 Front Beach Rd, PCB FL | 850 | 775 - 4101 </div>
</div>
