<section class="hero-img">
	<div class="hero-nav">
		<img class="logo logo-nav" src="/images/logos/tgm-logo_white.png" alt="TGM White LOGO" />
		<ul class="nav-links">
			<!-- <li><a ng-click="header.scrollTo('tgm-a')">ABOUT TGM</a></li> -->
			<li><a ng-click="header.scrollTo('tgm')">Welcome to TGM</a></li>
			<li><a ui-sref="login">VENDOR LOGIN</a></li>
		</ul>
		<ul class="nav-icons">
			<li><a href="https://www.facebook.com/turtlegirlsmarket/" target="_blank"><img src="/images/icons/icon_facebook.png" /></a></li>
			<li><a href="mailTo:turtlegirlsmarket@gmail.com"><img src="/images/icons/icon_email.png" /></a></li>
		</ul>
	</div>
</section>