<md-toolbar id="b2c-header" ng-cloak flex>
	<div class="md-toolbar-tools">
		<a ui-sref="home"><img src="../../assets/tgm_logo-WH.png" alt="TGM-Logo White" height="40" /></a>
		<span flex flex-gt-sm="5"></span>
			<h2 show-gt-sm hide md-truncate class="br-clr-wh">Turtle Girls Market</h2>
		<span flex-gt-sm></span>
		<md-button class="br-clr-wh" ng-click="header.scrollTo('tgm')" show-gt-sm hide>The Turtle Girls</md-button>
		<md-button class="br-clr-wh" ng-click="header.scrollTo('tgm-a')" show-gt-sm hide>About TGM</md-button>
		<md-button class="br-clr-wh" ui-sref="login" show-gt-sm hide>Vendor Login</md-button>
		<md-button class="br-clr-wh" ui-sref="login" show-sm show-xs hide> Login</md-button>
	</div>
</md-toolbar>