/* BEGIN: MAIN PAGE SCSS */
.content {
	color: $tgm-tr-cl;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media (min-width: $lrg-scr) {
		font-size: 18pt;
	}

	.welcome, .about{
		text-align: center;
		padding-top: 2rem;
	}
	.welcome-img{
		width: 75%;
		@media (min-width: $lrg-scr) {
			width: 100%;
		}
	}

	.about {
		@include flexDisplay;
		flex-direction: column-reverse;
		justify-content: center;
		padding-top: 2.5rem;
		padding-bottom: 2.55rem;
		@media (min-width: $lrg-scr) {
			flex-direction: row;
		}
		.about-img{
			width: 50%;
			margin: 0 auto;
			@media (min-width: $lrg-scr) {
				width: 100%;
			}
		}
		.flex-col {
			display: flex;
			flex-direction: column;
		}

		.col-about-content {
			@media (min-width: $lrg-scr) {
				padding-top: 2.5rem; 
				font-size: 16pt;
			}
		}
	}
}
/* END: MAIN PAGE SCSS */

/* BEGIN: VENDOR LOGIN SCSS */
.login {
	@include flexDisplay;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 6%;
	margin: 0;

	h1 {
		font-weight: 700;
		color: $tgm-tr-cl;
		text-align: center;
		line-height: 1.5rem;
		margin-bottom: 1.2rem;
		margin-top: 0.2rem;
	}

	a {
		font-size: 0.98rem;
		color: $tgm-tr-cl;
		text-decoration: none;
		&:hover {
			color: $tgm-trlt-cl;
		}
	}

	form {
		background-color: $sand-cl;
		padding: 2em 3rem 3em 2em;
		border-radius: 8x;
		@include flexDisplay;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);

		.form-content {
			@include flexDisplay;
			flex-wrap: wrap;
			flex-direction: column;

			input {
				color: $tgm-tr-cl;
				background-color: #fff;
				box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
				border: none;
				border-radius: 4px;
				padding: 1em;
				margin-bottom: 1.2em;
				width: 100%;
				&:focus {
					outline: none;
				} 
			}

			.button {
				font-weight: 600;
				text-align: center;
				font-size: 19px;
				color: #fff;
				background-color: $tgm-tr-cl;
				width: 98%;
				border: none;
				border-radius: 4px;
				padding: 0.8em;
				margin-top: 1em;
				margin-bottom: 1em;
				cursor: pointer;
				overflow: hidden;
				box-shadow: 0px 2px 6px rgba(0,0,0,0.03);
				@include transitions(all, ease-in-out, 200ms);
				&:hover {
					box-shadow: 0px 6px 10px rgba(0,0,0,0.03);
					transform: translateY(-4px)
				}
			}
		}
	}
}


/* END: VENDOR LOGIN SCSS */

/* START: CAROUSEL SCSS */
.carousel {
	position: relative;
	@media (min-width: $lrg-scr) {
		padding-right: 30rem;
	}
	.slide {

		img {
			position: absolute;
			width: 24.5rem;
			box-shadow: 0px 0px 15px #999;
			z-index: 10;
		}
	}

	.arrows {
		position: absolute;
		z-index: 1000;
		cursor: pointer;
		height: 100%;
		width: 40%;
		font-size: 5rem;

		&:hover {
			background-color:rgba(248, 237, 219, .3);
		}
	}

	.arrows-left {

		&:hover:after {
			@include carouselBtn('<');
			left: .5rem;
		}
	}
	.arrows-right {
		right: 5.5rem;

		&:hover:after {
			@include carouselBtn('>');
			right: .5rem;
		}
	}

	// Carousel Animation
	.slide.ng-hide-add,
	.slide.ng-hide-remove {
		@include transitions(all, linear, 0.5s);
		display: block!important;
	}

	.slide.ng-hide-add.ng-hide-add-active,
	.slide.ng-hide-remove {
		opacity: 0;
	}

	.slide.ng-hide-add,
	.slide.ng-hide-remove.ng-hide-remove-active {
		opacity: 1;
	}
}
/* END: CAROUSEL SCSS */


