/* BEGIN: HEADER SCSS */
.hero-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/hero-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	// background-position: center center;
	height: 100vh;
	width: 100vw;

	@media (max-width: $sml-scr) {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/mobile-hero-img.jpg");
	}

	// Flexbox
	@include flexDisplay;
	justify-content: center;

	text-align: center;
	.hero-nav {
		color: #fff;
		padding-top: 2rem;
		align-items: center;
		.logo {
			width: 10rem;
			vertical-align: middle;
		}

		.nav-links {
			list-style-type: none;
			display: inline-flex;
			@media (max-width: $lrg-scr) {
				padding: 0;
			}
			li {
				padding: 1rem;
				a {
					color: #fff;
					text-decoration: none;
	
					&:hover {
						color: $tgm-trlt-cl;
						cursor: pointer;
					}
				}
			}
		}

		.nav-icons {
			list-style: none;
			display: inline-flex;
			vertical-align: middle;
			@media (max-width: $lrg-scr) {
				padding: .05rem;
				padding-left: 2rem;
			}
			li {
				padding-right: 1.5rem;
				@media (min-width: $lrg-scr) {
					padding-right: 1rem;
				}
				a {
					img {
						width: 2rem;
					}

					&:hover {
						img {
							transform: translateY(-4px);
						}
					}
				}
			}

		}
	}
}
/* END: HEADER SCSS */

/* BEGIN: FOOTER SCSS */

.footer {
	flex-shrink: 0;
	margin-top: 2rem;
	@media (min-width: $lrg-scr) {
		margin-top: 5rem;
	}
	.break {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.company {
		background-color: $tgm-tr-cl;
		color: #fff;
		padding-top: 2px;
		padding-bottom: 2px;
		text-align: center;

		#store-ph {
			color: inherit;
			text-decoration: none;
			
		}
	}

	.copy {
		padding: 1rem;
		padding-bottom: 0;
		color: $tgm-tr-cl;
		text-align: center;

		.cpy:before {
			content: '\a9 \20';
		}
	}

	.site {
		text-align: center;

		.web-by {
			font-size: 8pt;
			text-decoration: none;
			color: $tgm-tr-cl;
			margin-bottom: .5rem;
			border-bottom: .2rem solid transparent;
			@include transitions(all, ease-in-out, 0.5s);
	
			&:hover {
				transform: translateY(-4px); 
				font-style: italic;
				border-color: $tgm-trlt-cl;
				// text-decoration: underline solid $tgm-trlt-cl;
				
			}
		}
	}
}
/* END: FOOTER SCSS */


/* BEGIN: VENDOR HEADER SCSS */
.vendor-header {
	display: flex;
	background-color: $tgm-tr-cl;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #fff;
	float: center;
	align-content: center;
	justify-content: center;
	section {

		display: inline-flex;
		.logo-vendor {
			width: 4rem;
			vertical-align: middle;
		}

		p {
			padding-left: 3rem;
			a {
				padding: 3rem;
				&:hover {
					color: $tgm-trlt-cl;
					cursor: pointer;
				}
			}
		}
	}

}
/* END: VENDOR HEADER SCSS */