/* BEGIN: HEADER SCSS */
.hero-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/hero-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	height: 100vh;
	width: 100vw;

	// Flexbox
	display: flex;
	justify-content: center;

	text-align: center;
	.hero-nav {
		color: #fff;
		padding-top: 2rem;
		align-items: center;
		.logo {
			width: 10rem;
			vertical-align: middle;
		}

		.nav-links {
			list-style-type: none;
			display: inline-flex;

			li {
				padding: 1rem;
				a {
					color: #fff;
					text-decoration: none;
	
					&:hover {
						color: $tgm-trlt-cl;
						cursor: pointer;
					}
				}
			}
		}

		.nav-icons {
			list-style: none;
			display: inline-flex;
			vertical-align: middle;
			li {
				padding-right: 1.5rem;
				@media (min-width: $lrg-scr) {
					padding-right: 1rem;
				}
				a {
					img {
						width: 2rem;
					}

					&:hover {
						img {
							width: 4rem;
							clear: both;
							transform: scale(1,1)
						}
					}
				}
			}

		}
	}
}
/* END: HEADER SCSS */
/* BEGIN: FOOTER SCSS */

.footer {
	text-align: center;
	flex-shrink: 0;
	margin-top: 20rem;
	@media (min-width: $lrg-scr) {
		margin-top: 5rem;
	}
	.break {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.company {
		background-color: $tgm-tr-cl;
		color: #fff;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.copy {
		padding: 1rem;
		color: $tgm-tr-cl;
	}
}
/* END: FOOTER SCSS */