// Main Colors
$brand-white: #fff;
$brand-trq-drk: #3a777f;
$brand-trq-lt: #7fcfcc;
$brand-beach: #f8eddb;

// Shared Classes
.br-clr-wh {
	color: $brand-white;
}

.btn-tgm-primary {
	background-color: $brand-trq-drk;
	color: $brand-white;

	&:hover {
		background-color: $brand-trq-lt;
		color: $brand-white;
	}
}

.input-container-wh {
	color: red !important;
}