// Main Colors
$brand-white: #fff;
$brand-trq-drk: #3a777f;
$brand-trq-lt: #7fcfcc;
$brand-beach: #f8eddb;

// Shared Classes
.br-clr-wh {
	color: $brand-white !important;
	fill: $brand-white;
}

.btn-tgm-primary {
	background-color: $brand-trq-drk;
	color: $brand-white;

	&:hover {
		background-color: $brand-trq-lt;
		color: $brand-white;
	}
}

body {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -42px; /* the bottom margin is the negative value of the footer's height */
	background-color: $brand-beach;
	position: relative;
	color: $brand-trq-drk;
}

// Loader:
.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(127,207,204,0.5);
	z-index: 2;
	cursor: pointer;
}


// Toast Class 

.toast-success {
	.md-toast-content {
		background-color: green !important;
		color: $brand-white !important;
	}
}
