<!-- <section class="login">
	<h1>Welcome Vendors</h1>
	<form name="loginForm" class="login-form">
		<div class="form-group">
			<label>Email Address: </label>
			<input ng-model="login.email" class="input-control" type="email" placeholder="email@zzz.com" aria-placeholder="email@zzz.com" aria-labelledby="Login Email" />
			<label>Password: </label>
			<input ng-model="login.password" class="input-control" type="email" aria-labelledby="Login Password" />
		</div>
		<button>Login</button>
	</form>
	
</section> -->

<!-- <section class="login">
	<h1>Welcome Vendors</h1>
	<form class="form-group" name="loginForm">
		<div class="input-group">
			<label class="form-label">Email: </label><br />
			<input class="form-input" type="email" ng-model="login.email" placeholder="email@zzz.com" aria-placeholder="email@zzz.com" aria-labelledby="Login Email" />
		</div>
		<div class="input-group">
			<label class="form-label">Password:</label><br/>
			<input class="form-input" type="password" ng-model="login.password" />
		</div>
	</form>
	<div class="form-actions">
		<button class="login-btn">Login</button>
	</div>
</section> -->
<div ng-show="login.loader" class="loader-block">
	<div class="loader"></div>
</div>
<div class="login">
	<form>
		<h1>
			Welcome Vendors
		</h1>
		<div class="form-content">
			<input ng-model="login.email" name="Email" placeholder="your@email.com" type="email" />
			<input ng-model="login.password" name="password" placeholder="password" type="password" /><br />
			<div class="button" ng-click="login.loginUser(login.email, login.password)">
				Login
			</div>
			<br />
			<div class="signup-message">
				<a href="#">Forgot your password?</a>
			</div>
		</div>
	</form>
</div>