<div class="content">
	<section id="tgm" class="welcome">
		<img class="welcome-img" src="images/Welcome.png" alt="Welcome To Turtle Giirls Market!" />
		<!-- <p>
			With over 40 local artistic vendors<br /> and spanning 8000 square feet, <br />
			we offer everything from vintage, art,<br/> antiques, refurbished furniture, coastal<br/> and shabby chic treasures.
		</p> -->
		<p>
			Have a new shopping experience at Turtle Girls Market 8,000sqft store.<br />
			We have an ever-changing variety of antiques, vintage, coastal decor, and repurposed furniture. <br />
			Turtle Girls Market is also proud to have talented local artists in our store from<br /> oil paintings, stained glass, wood carvings, jewelry makers and more.<br />
			Visit Turtle Girls Market and "Get Your Turtle On"
		</p>

	</section>

	<section id="tgm-a" class="about">

		<!-- AngularJS Directive: carouseldir.js -->
		<carousel images="main.images"></carousel>

		<!-- <div class="flex-col col-about-content">
			<img class="about-img" src="images/About.png" alt="About The Turtle Girls" />
			<p>
				Laurie and Valerie took an idea to create a<br /> business to showcase their talents in design <br />
				and creativity! Along with Cindy they started<br /> Turtle Girls Market and have grown into<br />
				successful entrepreneurs!
			</p>
		</div> -->
	</section>
</div>