<!-- <div layout="column" flex>
	<section class="tgm-h tgm" layout="row">
	</section>

	<section class="tgm-grad tgm" layout="row">
		<div class="wrapper">
			<h1 id="tgm" class="alpha lato thin thick-header-line uppercase ls-small">The Turtle Girls</h1><br/>
			<div layout="row" flex>
				<img src="../assets/tgm_logo-FC.png" height="200" class="float-left tgm-girls" alt="The Turtle Girls" />
				<p class="open-sans bold text-align-right">Laurie and Valerie are the Turtle Girls, with the addition of Cindy opened Turtle Girls Market in May of 2016.
					With their passion for art and decor they took an idea and created a cool and exciting new store. <i>Turtle Girls Market - Get Your Turtle On!</i>
				</p>
			</div>
		</div>
	</section>

	<section class="tgm-g tgm">
		<div class="wrapper shade">
			<h1 id="tgm-a" class="alpha lato thin thick-header-line uppercase ls-small">Experience Turtle Girls Maket</h1>
			<p class="open-sans bold">Our 8,000 sq ft. store has over forty vendors and local artists. Featuring Coastal Home Decor, including Shabby Shic, Vintage, Antiques, jewlery, gifts and finds.
				<br /> Visit Turtle Girls Market and find your HAPPY PLACE!
			</p>
		</div>
	</section>
</div> -->
